---
layout: default
lang: en
title: About Us
permalink: /about/
---

<!--? Hero Start -->
<div class="slider-area2">
  <div class="slider-height2 d-flex align-items-center">
    <div class="container">
      <div class="row">
        <div class="col-xl-12">
          <div class="hero-cap hero-cap2 pt-20 text-center">
            <h2>{{ site.data.translations.about_us[page.lang]}}</h2>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Hero End -->

<!--? About Us Start-->
<section class="about-low-area section-padding2">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-10">
        <div class="about-caption mb-50">
          <!-- Section Tittle -->
          <div class="section-tittle mb-35">
            <span>About Dream100.Org</span>
            <h2>It started with a couple's dream to educate 100 students.</h2>
          </div>
          <p>
            Amrita and I(Suvash) are blessed to say that, on December 1st, 2020,
            we got married in front of two hundred family, friends, and
            relatives at Hotel Sneha Nepalgunj, Nepal.
          </p>
          <p>
            We want to share our happiness by sponsoring one hundred poor
            talents of Nepal to continue their higher education. During our
            marriage ceremony, we received many Dakshina and gifts as love and
            blessing from both sides of our family, and relatives. Amrita and I
            decided that we will donate collected Dakshina amount of $1,000 to
            help school kids to pursue their college dream.
          </p>
          <p>
            We will donate $1,000 every year until the 100th kid completes
            his/her college degree.
          </p>
        </div>
        <a href="/a-dream-to-educate-100-kids/" class="btn">Read full story</a>
      </div>
      <div class="col-lg-6 col-md-12">
        <!-- about-img -->
        <div class="about-img">
          <div class="about-font-img d-none d-lg-block">
            <img src="/assets/img/post/weds-day1.png" alt="" />
          </div>
          <div class="about-back-img">
            <img src="/assets/img/post/weds-day2.JPG" alt="" />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- About Us End-->
<!-- Our work -->
{% include services.html %}
<!-- Want To work -->
{% include want-to-work.html %}
<!-- Stats -->
{% include stats.html %}
