---
layout: default
lang: en
title: Contact
permalink: /contact/
---

<!--? Hero Start -->
<div class="slider-area2">
  <div class="slider-height2 d-flex align-items-center">
    <div class="container">
      <div class="row">
        <div class="col-xl-12">
          <div class="hero-cap hero-cap2 pt-20 text-center">
            <h2>Contact Us</h2>
            <p>
              Please visit
              <a class="btn-link" href="/faq/" target="_blank"
                >frequently asked questions(FAQ)</a
              >
              section before reaching out to us.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Hero End -->
<!--?  Contact Area start  -->
<section class="contact-section">
  <div class="container">
    <div class="section-top-border">
      <div class="row">
        {% for contact in site.data.contacts[page.lang].agents %}
        <div class="col-md-3">
          <div class="single-defination">
            <h4 class="mb-10">{{ contact.country }}</h4>
            <p>{{ contact.cell }}</p>
            <!-- <a href="tel:{{ contact.cell }}">{{ contact.cell }}</a> -->
            <p class="mb-40"></p>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
    <div class="d-none d-sm-block mb-5 pb-4">
      <div id="map" style="width: 100%; height: 350px"></div>
      <script>
        function initMap() {
          var uluru = {
            lat: -25.363,
            lng: 131.044,
          };
          var grayStyles = [
            {
              featureType: "all",
              stylers: [
                {
                  saturation: -90,
                },
                {
                  lightness: 50,
                },
              ],
            },
            {
              elementType: "labels.text.fill",
              stylers: [
                {
                  color: "#ccdee9",
                },
              ],
            },
          ];
          var map = new google.maps.Map(document.getElementById("map"), {
            center: {
              lat: 28.026461,
              lng: 82.920925,
            },
            zoom: 6,
            styles: grayStyles,
            scrollwheel: false,
          });
          var marker = new google.maps.Marker({
            position: {
              lat: 28.026461,
              lng: 82.920925,
            },
            label: "Pyuthan",
            animation: google.maps.Animation.BOUNCE,
          });

          marker.setMap(map);
        }
      </script>
      <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC8gYTC-3CH3acLTmwwYXCYZp6YhVRX6XM&amp;callback=initMap"></script>
    </div>
    {% include contact-form.html %}
  </div>
</section>
<!-- Contact Area End -->
