---
layout: default
lang: en
title: Our dreamers benefiting the free scholarship.
permalink: /dreamers/
---

<!--? Hero Start -->
<div class="slider-area2">
  <div class="slider-height2 d-flex align-items-center">
    <div class="container">
      <div class="row">
        <div class="col-xl-12">
          <div class="hero-cap hero-cap2 pt-20 text-center">
            <h2>Our dreamers</h2>
            <p>
              List of students who are receiving financial assitance to study
              grade 11 and 12.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Hero End -->

<!--? Student Area Start -->
<div class="team-area pt-50 pb-50">
  <div class="container">
    <ul class="nav nav-tabs dreamers-tab" id="myTab" role="tablist">
      <li class="nav-item" role="presentation">
        <button
          class="nav-link active year-tab"
          id="tab-2080"
          data-toggle="tab"
          data-target="#content-2080"
          type="button"
          role="tab"
          aria-controls="content-2080"
          aria-selected="true"
        >
          Academic Year 2080
        </button>
      </li>
      <li class="nav-item" role="presentation">
        <button
          class="nav-link year-tab"
          id="tab-2079"
          data-toggle="tab"
          data-target="#content-2079"
          type="button"
          role="tab"
          aria-controls="content-2079"
          aria-selected="false"
        >
          Academic Year 2079
        </button>
      </li>
      <li class="nav-item" role="presentation">
        <button
          class="nav-link year-tab"
          id="tab-2078"
          data-toggle="tab"
          data-target="#content-2078"
          type="button"
          role="tab"
          aria-controls="content-2078"
          aria-selected="false"
        >
          Academic Year 2078
        </button>
      </li>
    </ul>
    <div class="tab-content" id="myTabContent">
      <div
        class="tab-pane fade show active"
        id="content-2080"
        role="tabpanel"
        aria-labelledby="tab-2080"
      >
        <div class="row">
          {% assign sortedStudents = site.data.dreamers.year_2080 | sort: "img"
          %} {% for dream in sortedStudents %}
          <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="single-team mb-30">
              <div class="team-img">
                <img src="{{ dream.img }}" alt="" />
                <!-- Blog Social -->
                <!-- <ul class="team-social">
                <li>
                  <a href="#"><i class="fab fa-facebook-f"></i></a>
                </li>
                <li>
                  <a href="#"><i class="fab fa-twitter"></i></a>
                </li>
                <li>
                  <a href="#"><i class="fas fa-globe"></i></a>
                </li>
              </ul> -->
              </div>
              <div class="team-caption">
                <h3>
                  <a href="javascript:void(0)">{{ dream.name[page.lang] }}</a>
                </h3>
                <p>{{ dream.college[page.lang] }}</p>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
      <div
        class="tab-pane fade"
        id="content-2079"
        role="tabpanel"
        aria-labelledby="tab-2079"
      >
        <div class="row">
          {% assign sortedStudents = site.data.dreamers.year_2079 | sort: "img"
          %} {% for dream in sortedStudents %}
          <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="single-team mb-30">
              <div class="team-img">
                <img src="{{ dream.img }}" alt="" />
                <!-- Blog Social -->
                <!-- <ul class="team-social">
                <li>
                  <a href="#"><i class="fab fa-facebook-f"></i></a>
                </li>
                <li>
                  <a href="#"><i class="fab fa-twitter"></i></a>
                </li>
                <li>
                  <a href="#"><i class="fas fa-globe"></i></a>
                </li>
              </ul> -->
              </div>
              <div class="team-caption">
                <h3>
                  <a href="javascript:void(0)">{{ dream.name[page.lang] }}</a>
                </h3>
                <p>{{ dream.college[page.lang] }}</p>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
      <div
        class="tab-pane fade"
        id="content-2078"
        role="tabpanel"
        aria-labelledby="tab-2078"
      >
        <div class="row">
          {% assign sortedStudents = site.data.dreamers.year_2078 | sort: "img"
          %} {% for dream in sortedStudents %}
          <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="single-team mb-30">
              <div class="team-img">
                <img src="{{ dream.img }}" alt="" />
                <!-- Blog Social -->
                <!-- <ul class="team-social">
                <li>
                  <a href="#"><i class="fab fa-facebook-f"></i></a>
                </li>
                <li>
                  <a href="#"><i class="fab fa-twitter"></i></a>
                </li>
                <li>
                  <a href="#"><i class="fas fa-globe"></i></a>
                </li>
              </ul> -->
              </div>
              <div class="team-caption">
                <h3>
                  <a href="javascript:void(0)">{{ dream.name[page.lang] }}</a>
                </h3>
                <p>{{ dream.college[page.lang] }}</p>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Student Ara End -->
