---
layout: default
lang: en
title: Events
permalink: /events/
---

<!--? Hero Start -->
<div class="slider-area2">
  <div class="slider-height2 d-flex align-items-center">
    <div class="container">
      <div class="row">
        <div class="col-xl-12">
          <div class="hero-cap hero-cap2 pt-20 text-center">
            <h2>Events & Activities</h2>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Hero End -->
<!-- Featured_job_start -->
<section
  class="featured-job-area section-padding30 section-bg2"
  data-background="/assets/img/gallery/section_bg03.png"
>
  {% assign today = site.time | date: '%y %m %d' %}
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-xl-7 col-lg-9 col-md-10 col-sm-12">
        <!-- Section Tittle -->
        <div class="section-tittle text-center mb-80">
          <span>What we are doing</span>
          <h2>Our upcoming meetup</h2>
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      {% assign sortedUpcomingEvents = site.data.events | where_exp:"upevent",
      "upevent.date >= today "| sort: "date" %} {% for upcomingEvent in
      sortedUpcomingEvents %}
      <div class="col-lg-9 col-md-12">
        <!-- single-job-content -->
        <div class="single-job-items mb-30 mt-30">
          <div class="job-items">
            <div class="company-img">
              <a href="#"
                ><img
                  src="{{ upcomingEvent.img }}"
                  alt=""
                  height="90"
                  width="90"
              /></a>
            </div>
            <div class="job-tittle">
              <a href="{{ upcomingEvent.url }}"
                ><h4>{{ upcomingEvent.name}}</h4></a
              >
              <ul>
                <li><i class="far fa-clock"></i>{{upcomingEvent.time}}</li>
                <li><i class="fas fa-calendar"></i>{{upcomingEvent.date}}</li>
                <li>
                  <i class="fas fa-map-marker-alt"></i>{{upcomingEvent.place}}
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
    <div class="row justify-content-center">
      <div class="col-xl-7 col-lg-9 col-md-10 col-sm-12">
        <!-- Section Tittle -->
        <div class="section-tittle text-center mb-80 mt-50">
          <h2>Past events</h2>
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      {% assign sortedPastEvents = site.data.events | where_exp:"event",
      "event.date < today"| sort: "date"| reverse %} {% for event in
      sortedPastEvents %}
      <div class="col-lg-9 col-md-12">
        <!-- single-job-content -->
        <div class="single-job-items mb-30 mt-30">
          <div class="job-items">
            <div class="company-img">
              <a href="#"
                ><img src="{{ event.img }}" alt="" height="90" width="90"
              /></a>
            </div>
            <div class="job-tittle">
              <a href="{{ event.url }}"><h4>{{ event.name}}</h4></a>
              <ul>
                <li><i class="far fa-clock"></i>{{event.time}}</li>
                <li><i class="fas fa-calendar"></i>{{event.date}}</li>
                <li><i class="fas fa-map-marker-alt"></i>{{event.place}}</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
<!-- Featured_job_end -->
