---
title: Dream100.Org
layout: default
---

<!-- slider Area Start-->
<div class="slider-area">
  <div class="slider-active">
    <!-- Single Slider -->
    <div class="single-slider slider-height d-flex align-items-center">
      <div class="container">
        <div class="row">
          <div class="col-xl-6 col-lg-6 col-md-8 col-sm-10">
            <div class="hero__caption">
              <h1 data-animation="fadeInUp" data-delay=".6s">
                We help poor talents of Nepal<br />
                to pursue their college dream.
              </h1>
              <p data-animation="fadeInUp" data-delay=".8s">
                Dream100.Org is a social charitable initiative run by
                volunteers.
              </p>
              <!-- Hero-btn -->
              <div class="hero__btn">
                <a
                  href="/donate/"
                  class="btn hero-btn mb-10"
                  data-animation="fadeInLeft"
                  data-delay=".8s"
                  >Donate</a
                >
                <a
                  href="/join-us/"
                  class="btn white-btn mb-10"
                  data-animation="fadeInRight"
                  data-delay="1.0s"
                >
                  Get Involve
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- slider Area End-->
<!--? Services Area Start -->
<div class="service-area section-padding30">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-xl-6 col-lg-7 col-md-10 col-sm-10">
        <!-- Section Tittle -->
        <div class="section-tittle text-center mb-80">
          <span>What we are doing</span>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-6">
        <div class="single-cat text-center mb-50">
          <div class="cat-icon">
            <span class="flaticon-null-1"></span>
          </div>
          <div class="cat-cap">
            <h5>
              <a href="/free-scholarship">Free Scholarship</a>
            </h5>
            <p>
              We evaluate students economic condition. Once eligible, students
              choose the college to study, they choose their desire subject. We
              pay their entire fee. They don't have to pay single penny until
              they finish their education.
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6">
        <div class="single-cat text-center mb-50">
          <div class="cat-icon">
            <span class="flaticon-think"></span>
          </div>
          <div class="cat-cap">
            <h5>
              <a href="/mentorship/">Mentorship Program</a>
            </h5>
            <p>
              We do not just pay their college fee, we mentor them, we coach
              them until they graduate.
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6">
        <div class="single-cat text-center mb-50">
          <div class="cat-icon">
            <span class="flaticon-think"></span>
          </div>
          <div class="cat-cap">
            <h5>
              <a href="/3s-model">Sponsor, School, Student(3S Model)</a>
            </h5>
            <p>
              We work on 3S model. <br />(<b>S</b>)We find sponsor/donor for
              student. <br />(<b>S</b>) We co-ordinate with schools and colleges
              for admission and fee payment. <br />(<b>S</b>) We consult
              students and motivate them to complete their education.
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6">
        <div class="single-cat text-center mb-50">
          <div class="cat-icon">
            <span class="flaticon-think"></span>
          </div>
          <div class="cat-cap">
            <h5>
              <a href="/new-idea">Do you have better idea?</a>
            </h5>
            <p>
              We love to hear. Let's talk about it. Email us at
              hello@dream100.org
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Services Area End -->
<!--? About Law Start-->
<section class="about-low-area section-padding2">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-10">
        <div class="about-caption mb-50">
          <!-- Section Tittle -->
          <div class="section-tittle mb-35">
            <span>About Dream100.Org</span>
            <h2>It started with a couple's dream to educate 100 students</h2>
          </div>
          <p>
            Amrita and I(Suvash) are blessed to say that, on December 1st, 2020,
            we got married in front of two hundred family, friends, and
            relatives at Hotel Sneha Nepalgunj, Nepal.
          </p>
          <p>
            We want to share our happiness by sponsoring one hundred poor
            talents of Nepal to continue their higher education. During our
            marriage ceremony, we received many Dakshina and gifts as love and
            blessing from both sides of our family, and relatives. Amrita and I
            decided that we will donate collected Dakshina amount of $1,000 to
            help school kids to pursue their college dream.
          </p>
          <p>
            We will donate $1,000 every year until the 100th kid completes
            his/her college degree.
          </p>
        </div>
        <a href="/a-dream-to-educate-100-kids/" class="btn">Read full story</a>
      </div>
      <div class="col-lg-6 col-md-12">
        <!-- about-img -->
        <div class="about-img">
          <div class="about-font-img d-none d-lg-block">
            <img src="/assets/img/post/weds-day1.png" alt="" />
          </div>
          <div class="about-back-img">
            <img src="/assets/img/post/weds-day2.JPG" alt="" />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- About Law End-->
{% include team.html %}
<!-- Want To work -->
<section class="wantToWork-area">
  <div class="container">
    <div
      class="wants-wrapper w-padding2 section-bg"
      data-background="/assets/img/gallery/section_bg01.png"
    >
      <div class="row align-items-center justify-content-between">
        <div class="col-xl-5 col-lg-9 col-md-8">
          <div class="wantToWork-caption wantToWork-caption2">
            <h2>Do you want to be the part of our initiative?</h2>
          </div>
        </div>
        <div class="col-xl-2 col-lg-3 col-md-4">
          <a href="/join-us/" class="btn white-btn f-right sm-left"
            >Get Involve</a
          >
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Want To work End -->
{% include stats.html %}
