---
layout: default
lang: np
title: Dream100.Org
permalink: /
---

<!-- Slider-->
{% include slider.html %}
<!-- slider Area End-->

<!-- Students Highlights -->
<div class="team-area pt-20">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-xl-6 col-lg-7 col-md-10 col-sm-10">
        <!-- Section Tittle -->
        <div class="section-tittle section-tittle2 text-center mb-70">
          <span>{{site.data.translations.students_highlight[page.lang]}}</span>
        </div>
      </div>
    </div>
    <div class="row">
      {% assign sortedStudents = site.data.dreamers.year_2080 | sort: "img" %}
      {% for dream in sortedStudents limit:8 %}
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="single-team mb-30">
          <div class="team-img">
            <img src="{{ dream.img }}" alt="" />
          </div>
          <div class="team-caption">
            <h3>
              <a href="javascript:void(0)">{{ dream.name[page.lang] }}</a>
            </h3>
            <p>{{ dream.college[page.lang] }}</p>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
    <div class="row">
      <div class="col-md-12">
        <a
          href="{{site.data.links.students_highlight[page.lang].url}}"
          class="btn-link float-right"
          >{{site.data.links.students_highlight[page.lang].label}}</a
        >
      </div>
    </div>
  </div>
</div>

{% include services.html %}
<!-- About -->
<!--  include about.html  -->
<!-- Want to work with us ?-->
{% include want-to-work.html %}
<!-- Let us know about student -->
<section class="wantToWork-area">
  <div class="container">
    <div
      class="wants-wrapper w-padding2 section-bg"
      data-background="/assets/img/gallery/section_bg02.png"
    >
      <div class="row align-items-center justify-content-between">
        <div class="col-xl-8 col-lg-9 col-md-8">
          <h2>
            {{site.data.translations.join_us_let_us_know_text[page.lang]}}
          </h2>
          <div class="wantToWork-caption wantToWork-caption2">
            <h2>
              {{site.data.translations.join_us_let_us_know_caption[page.lang]}}
            </h2>
          </div>
        </div>
        <div class="col-xl-2 col-lg-3 col-md-4">
          <a
            href="{{site.data.links.let_us_know[page.lang].url}}"
            class="btn white-btn f-right sm-left"
            >{{site.data.links.let_us_know[page.lang].label}}</a
          >
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Want To work End -->
<!-- Donate and help -->
<section class="wantToWork-area">
  <div class="container">
    <div
      class="wants-wrapper w-padding2 section-bg"
      data-background="/assets/img/gallery/join-us-bg-01.png"
    >
      <div class="row align-items-center justify-content-between">
        <div class="col-xl-8 col-lg-9 col-md-8">
          <h2>{{site.data.translations.join_us_donate_100_text[page.lang]}}</h2>
          <div class="wantToWork-caption wantToWork-caption2">
            <h2>
              {{site.data.translations.join_us_donate_100_caption[page.lang]}}
            </h2>
          </div>
        </div>
        <div class="col-xl-2 col-lg-3 col-md-4">
          <a
            href="{{site.data.links.join_us_donate[page.lang].url}}"
            class="btn white-btn f-right sm-left"
            >{{site.data.links.join_us_donate[page.lang].label}}</a
          >
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Want To work End -->
<!-- Stats -->
{% include stats.html %}
