---
layout: default
lang: np
title: हाम्रा सपनाहरु
permalink: /सपनाहरु/
---

<!--? Hero Start -->
<div class="slider-area2">
  <div class="slider-height2 d-flex align-items-center">
    <div class="container">
      <div class="row">
        <div class="col-xl-12">
          <div class="hero-cap hero-cap2 pt-20 text-center">
            <h2>हाम्रा सपनाहरु</h2>
            <p>
              ड्रिम हन्ड्रेड निशुल्क छात्रवृति अन्तर्गत अध्ययनरत विद्यार्थीहरु
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Hero End -->

<!--? Team Ara Start -->
<div class="team-area pt-160 pb-160">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-xl-6 col-lg-7 col-md-10 col-sm-10">
        <!-- Section Tittle -->
        <div class="section-tittle section-tittle2 text-center mb-70">
          <span>शैक्षिक वर्ष</span>
          <h2>२०८०</h2>
        </div>
      </div>
    </div>
    <div class="row">
      {% assign sortedStudents = site.data.dreamers.year_2080 | sort: "img" %}
      {% for dream in sortedStudents %}
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="single-team mb-30">
          <div class="team-img">
            <img src="{{ dream.img }}" alt="" />
            <!-- Blog Social -->
            <!-- <ul class="team-social">
              <li>
                <a href="#"><i class="fab fa-facebook-f"></i></a>
              </li>
              <li>
                <a href="#"><i class="fab fa-twitter"></i></a>
              </li>
              <li>
                <a href="#"><i class="fas fa-globe"></i></a>
              </li>
            </ul> -->
          </div>
          <div class="team-caption">
            <h3>
              <a href="javascript:void(0)">{{ dream.name[page.lang] }}</a>
            </h3>
            <p>{{ dream.college[page.lang] }}</p>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
    <div class="row justify-content-center">
      <div class="col-xl-6 col-lg-7 col-md-10 col-sm-10">
        <!-- Section Tittle -->
        <div class="section-tittle section-tittle2 text-center mb-70">
          <span>शैक्षिक वर्ष</span>
          <h2>२०७९</h2>
        </div>
      </div>
    </div>
    <div class="row">
      {% assign sortedStudents = site.data.dreamers.year_2079 | sort: "img" %}
      {% for dream in sortedStudents %}
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="single-team mb-30">
          <div class="team-img">
            <img src="{{ dream.img }}" alt="" />
            <!-- Blog Social -->
            <!-- <ul class="team-social">
              <li>
                <a href="#"><i class="fab fa-facebook-f"></i></a>
              </li>
              <li>
                <a href="#"><i class="fab fa-twitter"></i></a>
              </li>
              <li>
                <a href="#"><i class="fas fa-globe"></i></a>
              </li>
            </ul> -->
          </div>
          <div class="team-caption">
            <h3>
              <a href="javascript:void(0)">{{ dream.name[page.lang] }}</a>
            </h3>
            <p>{{ dream.college[page.lang] }}</p>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
    <div class="row justify-content-center">
      <div class="col-xl-6 col-lg-7 col-md-10 col-sm-10">
        <!-- Section Tittle -->
        <div class="section-tittle section-tittle2 text-center mb-70">
          <span>शैक्षिक वर्ष</span>
          <h2>२०७८</h2>
        </div>
      </div>
    </div>
    <div class="row">
      {% assign sortedStudents = site.data.dreamers.year_2078 | sort: "img" %}
      {% for dream in sortedStudents %}
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="single-team mb-30">
          <div class="team-img">
            <img src="{{ dream.img }}" alt="" />
            <!-- Blog Social -->
            <!-- <ul class="team-social">
              <li>
                <a href="#"><i class="fab fa-facebook-f"></i></a>
              </li>
              <li>
                <a href="#"><i class="fab fa-twitter"></i></a>
              </li>
              <li>
                <a href="#"><i class="fas fa-globe"></i></a>
              </li>
            </ul> -->
          </div>
          <div class="team-caption">
            <h3>
              <a href="javascript:void(0)">{{ dream.name[page.lang] }}</a>
            </h3>
            <p>{{ dream.college[page.lang] }}</p>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
<!-- Team Ara End -->
