---
layout: default
lang: np
title: सहभागिता
permalink: /सहभागिता/
---

<!--? Hero Start -->
<div class="slider-area2">
  <div class="slider-height2 d-flex align-items-center">
    <div class="container">
      <div class="row">
        <div class="col-xl-12">
          <div class="hero-cap hero-cap2 pt-20 text-center">
            <h2>{{site.data.translations.join_us_title[page.lang]}}</h2>
            <p>{{site.data.translations.join_us_subtitle[page.lang]}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Hero End -->

<!-- Read page in different language -->
<div class="container">
  <p>
    <a class="text-secondary" href="/join-us/"
      >Click here to read this page in English 🇺🇸.</a
    >
  </p>
</div>

<!---Join US -->
{% include join-us.html%}
<!-- Stats -->
{% include stats.html %}
