---
layout: default
lang: np
title: हाम्रो कार्य
permalink: /हाम्रो-कार्य/
---

<!--? Hero Start -->
<div class="slider-area2">
  <div class="slider-height2 d-flex align-items-center">
    <div class="container">
      <div class="row">
        <div class="col-xl-12">
          <div class="hero-cap hero-cap2 pt-20 text-center">
            <h2>
              विद्यार्थीको कलेज पढ्ने सपना पुरा गर्नको लागी गरिएका <br />हाम्रा
              प्रयासहरु
            </h2>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Hero End -->
{% include services.html %} {% include stats.html %}
