
<!-- Chart -->
<section class="wantToWork-area">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <canvas id="myChart"></canvas>
      </div>
      <div class="col-md-6"></div>
    </div>
  </div>
</section>
<!--Chart End -->
 
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  
  <script>
    const ctx = document.getElementById('myChart');  

    // <block:setup:1>
    const data = {
      labels: ['2078', '2079', '2080', '2081', '2082', '2083'],
      datasets: [
        {
          label: 'Dataset',
          data: [],
          borderColor: Utils.CHART_COLORS.red,
          backgroundColor: Utils.transparentize(Utils.CHART_COLORS.red, 0.5),
          pointStyle: 'circle',
          pointRadius: 10,
          pointHoverRadius: 15
        }
      ]
    };
    // </block:setup>

    // <block:config:0>
    const config = {
      type: 'line',
      data: data,
      options: {
        responsive: true,
        plugins: {
          title: {
            display: true,
            text: (ctx) => 'Point Style: ' + ctx.chart.data.datasets[0].pointStyle,
          }
        }
      }
    };
    // </block:config>
  </script>
  