{% include firebase.html %}
<script src="/assets/js/vendor/jquery-1.12.4.min.js"></script>
<script>
  document
    .querySelector(".file-select")
    .addEventListener("change", handleFileUploadChange);
  document
    .querySelector(".file-submit")
    .addEventListener("click", handleFileUploadSubmit);
  let selectedFile;
  loadApplicationStats();
  function loadApplicationStats() {
    var task = dbFileManager.getApplicationStats("poem-2078");

    var submittedCount = 0;
    var reviewedCount = 0;
    var verifiedCount = 0;
    var approvedCount = 0;

    task
      .get()
      .then((querySnapshot) => {
        querySnapshot.forEach((doc) => {
          //console.log(doc.data());
          submittedCount += 1;
          if (doc.data().reviewed == true && !doc.data().verified_date) {
            reviewedCount++;
          }
          if (doc.data().verified == true && doc.data().verified_date) {
            verifiedCount++;
          }
          if (doc.data().approved == true && doc.data().approved_date) {
            approvedCount++;
          }
        });
        //console.log(submittedCount);
        $("#lblSubmitted").text(submittedCount);
        $("#lblUnderReview").text(reviewedCount);
        $("#lblVerified").text(verifiedCount);
        $("#lblApproved").text(approvedCount);
      })
      .catch((error) => {
        console.log("Error getting documents: ", error);
      });
  }
  function handleFileUploadChange(e) {
    selectedFile = e.target.files[0];
    $("#btnUpload").enable();
  }
  function handleFileUploadSubmit(e) {
    //show loader
    $("#preloader-active").show();
    const uploadTask = dbFileManager.uploadFileTask("poem-2078", selectedFile);

    //create a child directory called images, and place the file inside this directory
    uploadTask.on(
      "state_changed",
      (snapshot) => {
        // Observe state change events such as progress, pause, and resume
      },
      (error) => {
        // Handle unsuccessful uploads
        $("#preloader-active").hide();
        console.log(error);
        $("#filesubmit").fadeTo("slow", 1, function () {
          $("#modelError").fadeIn();
          $(".modal").modal("hide");
          $("#modelError").modal("show");
        });
      },
      () => {
        // Do something once upload is complete
        $("#preloader-active").hide();
        console.log("success");
        $("#filesubmit").fadeTo("slow", 1, function () {
          $(this).find(":input").attr("disabled", "disabled");
          $(this).find("label").css("cursor", "default");
          $("#modelSuccess").fadeIn();
          $(".modal").modal("hide");
          $("#modelSuccess").modal("show");
        });
      }
    );
  }
</script>
