{% include firebase.html %}
<script src="/assets/js/vendor/jquery-1.12.4.min.js"></script>
<script>
  document
    .getElementById("txt-form2079-select")
    .addEventListener("change", handleFileUploadChange);
  document
    .getElementById("btn-form2079-upload")
    .addEventListener("click", handleFileUploadSubmit);
  let selectedFormFile;
  function loadApplicationStats(folderName) {
    var task = dbFileManager.getApplicationStats(folderName);

    var submittedCount = 0;
    var reviewedCount = 0;
    var verifiedCount = 0;
    var approvedCount = 0;

    task
      .get()
      .then((querySnapshot) => {
        querySnapshot.forEach((doc) => {
          //console.log(doc.data());
          submittedCount += 1;
          if (doc.data().reviewed == true && !doc.data().verified_date) {
            reviewedCount++;
          }
          if (doc.data().verified == true && doc.data().verified_date) {
            verifiedCount++;
          }
          if (doc.data().approved == true && doc.data().approved_date) {
            approvedCount++;
          }
        });
        //console.log(submittedCount);
        $("#lblSubmitted").text(submittedCount);
        $("#lblUnderReview").text(reviewedCount);
        $("#lblVerified").text(verifiedCount);
        $("#lblApproved").text(approvedCount);
      })
      .catch((error) => {
        console.log("Error getting documents: ", error);
      });
  }
  function handleFileUploadChange(e) {
    selectedFormFile = e.target.files[0];
    if (selectedFormFile) {
      $("#btn-form2079-upload").enable();
    } else {
      $("#btn-form2079-upload").prop("disabled", true);
    }
  }
  function handleFileUploadSubmit(e) {
    //show loader
    $("#preloader-active").show();
    const uploadTask = dbFileManager.uploadFileTask(
      "form-2079",
      selectedFormFile
    );

    //create a child directory called images, and place the file inside this directory
    uploadTask.on(
      "state_changed",
      (snapshot) => {
        // Observe state change events such as progress, pause, and resume
      },
      (error) => {
        // Handle unsuccessful uploads
        $("#preloader-active").hide();
        console.log(error);
        $("#filesubmit").fadeTo("slow", 1, function () {
          $("#modelError").fadeIn();
          $(".modal").modal("hide");
          $("#modelError").modal("show");
        });
      },
      () => {
        // Do something once upload is complete
        $("#preloader-active").hide();
        console.log("success");
        $("#filesubmit").fadeTo("slow", 1, function () {
          $(this).find(":input").attr("disabled", "disabled");
          $(this).find("label").css("cursor", "default");
          $("#modelSuccess").fadeIn();
          $(".modal").modal("hide");
          $("#modelSuccess").modal("show");
        });
      }
    );
  }
</script>
<script>
  document
    .getElementById("txt-marksheet2079-select")
    .addEventListener("change", handleFile2UploadChange);
  document
    .getElementById("btn-marksheet2079-upload")
    .addEventListener("click", handleFile2UploadSubmit);
  let selectedMarksheetFile;
  function handleFile2UploadChange(e) {
    selectedMarksheetFile = e.target.files[0];
    if (selectedMarksheetFile) {
      $("#btn-marksheet2079-upload").enable();
    } else {
      $("#btn-marksheet2079-upload").prop("disabled", true);
    }
  }
  function handleFile2UploadSubmit(e) {
    //show loader
    $("#preloader-active").show();
    const uploadTask = dbFileManager.uploadFileTask(
      "marksheet-2079",
      selectedMarksheetFile
    );

    //create a child directory called images, and place the file inside this directory
    uploadTask.on(
      "state_changed",
      (snapshot) => {
        // Observe state change events such as progress, pause, and resume
      },
      (error) => {
        // Handle unsuccessful uploads
        $("#preloader-active").hide();
        console.log(error);
        $("#filesubmit").fadeTo("slow", 1, function () {
          $("#modelError").fadeIn();
          $(".modal").modal("hide");
          $("#modelError").modal("show");
        });
      },
      () => {
        // Do something once upload is complete
        $("#preloader-active").hide();
        console.log("success");
        $("#filesubmit").fadeTo("slow", 1, function () {
          $(this).find(":input").attr("disabled", "disabled");
          $(this).find("label").css("cursor", "default");
          $("#modelSuccess").fadeIn();
          $(".modal").modal("hide");
          $("#modelSuccess").modal("show");
        });
      }
    );
  }
</script>
