<footer>
  <div
    class="footer-wrapper section-bg2"
    data-background="/assets/img/gallery/footer_bg.png"
  >
    <!-- Footer Top-->
    <div class="footer-area footer-padding">
      <div class="container">
        <div class="row d-flex justify-content-between">
          <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6">
            <div class="single-footer-caption mb-50">
              <div class="single-footer-caption mb-30">
                <div class="footer-tittle">
                  <div class="footer-logo mb-20">
                    <a href="/"
                      ><img src="/assets/img/logo/logo-white.png" alt=""
                    /></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-lg-3 col-md-4 col-sm-5">
            <div class="single-footer-caption mb-50">
              <div class="footer-tittle">
                <h4>Contact Info</h4>
                <ul>
                  <li>
                    <p>Address : Airawati - 5, Pyuthan, Lumbini, Nepal.</p>
                  </li>
                  <li><a href="#">Phone : +977 986 189 7510</a></li>
                  <li><a href="#">Email : hello@dream100.org</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-lg-3 col-md-4 col-sm-5">
            <div class="single-footer-caption mb-50">
              <div class="footer-tittle">
                <h4>Important Link</h4>
                <ul>
                  {% for implink in site.data.important-links[page.lang] %}
                  <li><a href="{{implink.url}}"> {{ implink.title }}</a></li>
                  {% endfor %}
                </ul>
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-lg-3 col-md-4 col-sm-5">
            <div class="single-footer-caption mb-50">
              <div class="footer-tittle">
                <h4>Tweets</h4>
                <div class="footer-pera footer-pera2">
                  <a
                    class="twitter-timeline"
                    href="https://twitter.com/dream100org?ref_src=twsrc%5Etfw"
                    data-tweet-limit="1"
                    >Tweets by dream100org</a
                  >
                  <script
                    async
                    src="https://platform.twitter.com/widgets.js"
                    charset="utf-8"
                  ></script>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- footer-bottom -->
    <div class="footer-bottom-area">
      <div class="container">
        <div class="footer-border">
          <div class="row d-flex justify-content-between align-items-center">
            <div class="col-xl-10 col-lg-9">
              <div class="footer-copy-right">
                <p>
                  <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                  Copyright &copy;
                  <script>
                    document.write(new Date().getFullYear());
                  </script>
                  All rights reserved | This template is made with
                  <i class="fa fa-heart" aria-hidden="true"></i> by
                  <a href="https://colorlib.com" target="_blank">Colorlib</a>
                  <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                </p>
              </div>
            </div>
            <div class="col-xl-2 col-lg-3">
              <div class="footer-social f-right">
                <a href="https://twitter.com/dream100org"
                  ><i class="fab fa-twitter"></i
                ></a>
                <a href="https://www.facebook.com/dream100org"
                  ><i class="fab fa-facebook-f"></i
                ></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
