<!-- ? Preloader Start -->
<div id="preloader-active">
  <div class="preloader d-flex align-items-center justify-content-center">
    <div class="preloader-inner position-relative">
      <div class="preloader-circle"></div>
      <div class="preloader-img pere-text">
        <img src="/assets/img/logo/loder.png" alt="" />
      </div>
    </div>
  </div>
</div>
<!-- Preloader Start -->
<header>
  <!-- Header Start -->
  <div class="header-area">
    <div class="main-header">
      <div class="header-top d-none d-lg-block">
        <div class="container-fluid">
          <div class="alert alert-info" role="alert">
            ड्रिम हन्ड्रेड छात्रवृत्ति २०८१/८२ को नतिजा प्रकाशित भएको छ । 
          </div>
          <div class="col-xl-12">
            <div class="row d-flex justify-content-between align-items-center">
              <div class="header-info-left d-flex">
                <ul>
                  <li>
                    {{ site.data.contacts[page.lang].address }} {{
                    site.data.contacts[page.lang].address2 }}
                  </li>
                  <li>
                    {{ site.data.translations.phone[page.lang]}}: {{
                    site.data.contacts[page.lang].phone }}
                  </li>
                  <li>
                    {{ site.data.translations.email[page.lang]}}: {{
                    site.data.contacts[page.lang].email }}
                  </li>
                </ul>
                <div class="header-social">
                  <ul>
                    <li>
                      <a href="https://twitter.com/dream100org"
                        ><i class="fab fa-twitter"></i
                      ></a>
                    </li>
                    <li>
                      <a href="https://www.facebook.com/dream100org"
                        ><i class="fab fa-facebook-f"></i
                      ></a>
                    </li>
                  </ul>
                </div>
              </div>

              <div class="header-info-right d-flex align-items-center">
                <div class="select-this">
                  <div class="select-itms">
                    <select
                      name="select"
                      id="select1"
                      onchange="languageChange()"
                    >
                      {% for lang in site.data.languages %} {% if lang.code ==
                      page.lang %}
                      <option value="{{ lang.code }}" selected>
                        {{ lang.name }} {{ lang.icon }}
                      </option>
                      {% else %}
                      <option value="{{ lang.code }}">
                        {{ lang.name }} {{ lang.icon }}
                      </option>
                      {% endif %} {% endfor %}
                    </select>
                  </div>
                </div>
                <!-- <ul class="contact-now">
                  <li><a href="#">Application Open for 2078</a></li>
                </ul> -->
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Mobile Header -->
      <div class="header-top d-lg-none">
        <div class="container-fluid">
          <div class="alert alert-info" role="alert">
            ड्रिम हन्ड्रेड छात्रवृत्ति २०८१/८२ को नतिजा प्रकाशित भएको छ 
          </div>
          <div class="col-xl-12">
            <div class="row d-flex justify-content-between align-items-center">
              <div class="header-info-left d-flex">
                <ul>
                  <li>{{ site.data.contacts[page.lang].phone }}</li>
                  <li>{{ site.data.contacts[page.lang].email }}</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="header-bottom header-sticky">
        <div class="container-fluid">
          <div class="row align-items-center">
            <!-- Logo -->
            <div class="col-xl-2 col-lg-2">
              <div class="logo">
                <a href="/"
                  ><img
                    src="/assets/img/logo/logo.png"
                    style="height: 80px"
                    alt=""
                /></a>
              </div>
            </div>
            <div class="col-xl-10 col-lg-10">
              <div
                class="menu-wrapper d-flex align-items-center justify-content-end"
              >
                <!-- Main-menu -->
                <div class="main-menu d-none d-lg-block">
                  <nav>
                    <ul id="navigation">
                      {% for link in site.data.navigation[page.lang] %}
                      <li>
                        <a href="{{ link.url }}">{{ link.title }}</a>
                        {% if link.submenu.size >0 %}
                        <ul class="submenu">
                          {% for sublink in link.submenu %}
                          <li>
                            <a href="{{ sublink.url }}">{{sublink.title}}</a>
                          </li>
                          {% endfor %}
                        </ul>
                        {% endif %}
                      </li>
                      {% endfor %}
                      <div
                        class="d-lg-none justify-content-between align-items-center"
                      >
                        <hr />
                        <li>
                          <a href="https://twitter.com/dream100org"
                            >Twitter <i class="fab fa-twitter"></i
                          ></a>
                        </li>
                        <li>
                          <a href="https://www.facebook.com/dream100org"
                            >Facebook <i class="fab fa-facebook-f"></i
                          ></a>
                        </li>
                      </div>
                    </ul>
                  </nav>
                </div>
                <!-- Header-btn -->
                <div class="header-right-btn d-none d-lg-block ml-20">
                  <a
                    href="{{ site.data.links.result_2081[page.lang].url }}"
                    class="btn header-btn"
                    >{{ site.data.links.result_2081[page.lang].label}}</a
                  >
                </div>
              </div>
            </div>
            <!-- Mobile Menu -->
            <div class="col-12">
              <div class="mobile_menu d-block d-lg-none"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Header End -->
</header>
<!-- header end -->
<div
  class="d-lg-none header-info-right d-flex align-items-center justify-content-end"
>
  <div class="select-this">
    <div class="select-itms">
      <select name="select" id="select2" onchange="languageChangeMobile()">
        {% for lang in site.data.languages %} {% if lang.code == page.lang %}
        <option value="{{ lang.code }}" selected>
          {{ lang.name }} {{ lang.icon }}
        </option>
        {% else %}
        <option value="{{ lang.code }}">{{ lang.name }} {{ lang.icon }}</option>
        {% endif %} {% endfor %}
      </select>
    </div>
  </div>
  <!-- <ul class="contact-now">
    <li><a href="#">Subscribe Now</a></li>
  </ul> -->
</div>
