<!-- Want To work -->
<section class="wantToWork-area">
  <div class="container">
    <div
      class="wants-wrapper w-padding2 section-bg"
      data-background="/assets/img/gallery/join-us-bg-01.png"
    >
      <div class="row align-items-center justify-content-between">
        <div class="col-xl-8 col-lg-9 col-md-8">
          <h2>{{site.data.translations.join_us_donate_100_text[page.lang]}}</h2>
          <div class="wantToWork-caption wantToWork-caption2">
            <h2>
              {{site.data.translations.join_us_donate_100_caption[page.lang]}}
            </h2>
          </div>
        </div>
        <div class="col-xl-2 col-lg-3 col-md-4">
          <a
            href="{{site.data.links.join_us_donate[page.lang].url}}"
            class="btn white-btn f-right sm-left"
            >{{site.data.links.join_us_donate[page.lang].label}}</a
          >
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Want To work End -->
<!-- Want To work -->
<section class="wantToWork-area">
  <div class="container">
    <div
      class="wants-wrapper w-padding2 section-bg"
      data-background="/assets/img/gallery/join-us-bg-01.png"
    >
      <div class="row align-items-center justify-content-between">
        <div class="col-xl-8 col-lg-9 col-md-8">
          <h2>
            {{site.data.translations.join_us_help_fundraise_text[page.lang]}}
          </h2>
          <div class="wantToWork-caption wantToWork-caption2">
            <h2>
              {{site.data.translations.join_us_help_fundraise_caption[page.lang]}}
            </h2>
          </div>
        </div>
        <div class="col-xl-2 col-lg-3 col-md-4">
          <a
            href="{{site.data.links.help_fundraise[page.lang].url}}"
            class="btn white-btn f-right sm-left"
            >{{site.data.links.help_fundraise[page.lang].label}}</a
          >
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Want To work End -->
<!-- Want To work -->
<section class="wantToWork-area">
  <div class="container">
    <div
      class="wants-wrapper w-padding2 section-bg"
      data-background="/assets/img/gallery/join-us-bg-02.png"
    >
      <div class="row align-items-center justify-content-between">
        <div class="col-xl-8 col-lg-9 col-md-8">
          <div class="wantToWork-caption wantToWork-caption2">
            <h2>
              {{site.data.translations.join_us_volunteer_caption[page.lang]}}
            </h2>
          </div>
        </div>
        <div class="col-xl-2 col-lg-3 col-md-4">
          <a
            href="{{site.data.links.join_us_volunteer[page.lang].url}}"
            class="btn white-btn f-right sm-left"
            >{{site.data.links.join_us_volunteer[page.lang].label}}</a
          >
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Want To work End -->
<!-- Want To work -->
<section class="wantToWork-area">
  <div class="container">
    <div
      class="wants-wrapper w-padding2 section-bg"
      data-background="/assets/img/gallery/section_bg01.png"
    >
      <div class="row align-items-center justify-content-between">
        <div class="col-xl-8 col-lg-9 col-md-8">
          <h2>{{site.data.translations.join_us_be_mentor_text[page.lang]}}</h2>
          <div class="wantToWork-caption wantToWork-caption2">
            <h2>
              {{site.data.translations.join_us_be_mentor_caption[page.lang]}}
            </h2>
          </div>
        </div>
        <div class="col-xl-2 col-lg-3 col-md-4">
          <a
            href="{{site.data.links.join_us_mentor[page.lang].url}}"
            class="btn white-btn f-right sm-left"
            >{{site.data.links.join_us_mentor[page.lang].label}}</a
          >
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Want To work End -->
<!-- Want To work -->
<section class="wantToWork-area">
  <div class="container">
    <div
      class="wants-wrapper w-padding2 section-bg"
      data-background="/assets/img/gallery/section_bg02.png"
    >
      <div class="row align-items-center justify-content-between">
        <div class="col-xl-8 col-lg-9 col-md-8">
          <h2>
            {{site.data.translations.join_us_let_us_know_text[page.lang]}}
          </h2>
          <div class="wantToWork-caption wantToWork-caption2">
            <h2>
              {{site.data.translations.join_us_let_us_know_caption[page.lang]}}
            </h2>
          </div>
        </div>
        <div class="col-xl-2 col-lg-3 col-md-4">
          <a
            href="{{site.data.links.let_us_know[page.lang].url}}"
            class="btn white-btn f-right sm-left"
            >{{site.data.links.let_us_know[page.lang].label}}</a
          >
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Want To work End -->
<!-- Want To work -->
<section class="wantToWork-area">
  <div class="container">
    <div
      class="wants-wrapper w-padding2 section-bg"
      data-background="/assets/img/gallery/section_bg02.png"
    >
      <div class="row align-items-center justify-content-between">
        <div class="col-xl-8 col-lg-9 col-md-8">
          <div class="wantToWork-caption wantToWork-caption2">
            <h2>{{site.data.translations.got_a_new_idea[page.lang]}}</h2>
          </div>
        </div>
        <div class="col-xl-2 col-lg-3 col-md-4">
          <a
            href="{{site.data.links.new_idea[page.lang].url}}"
            class="btn white-btn f-right sm-left"
            >{{site.data.links.new_idea[page.lang].label}}</a
          >
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Want To work End -->
