<!--? Services Area Start -->
<div class="service-area section-padding30">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-xl-6 col-lg-7 col-md-10 col-sm-10">
        <!-- Section Tittle -->
        <div class="section-tittle text-center mb-80">
          <span>{{ site.data.translations.what_we_are_doing[page.lang] }}</span>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-6">
        <div class="single-cat text-center mb-50">
          <div class="cat-icon">
            <span class="fa fa-dollar-sign"></span>
          </div>
          <div class="cat-cap">
            <h5>
              <a href="/financial-assistance"
                >{{ site.data.translations.finincial_assistance[page.lang]}}</a
              >
            </h5>
            <p>
              {{site.data.translations.finincial_assistance_desc[page.lang]}}
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6">
        <div class="single-cat text-center mb-50">
          <div class="cat-icon">
            <span class="fa fa-user"></span>
          </div>
          <div class="cat-cap">
            <h5>
              <a href="/mentorship/"
                >{{ site.data.translations.mentorship_program[page.lang]}}</a
              >
            </h5>
            <p>{{site.data.translations.mentorship_program_desc[page.lang]}}</p>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6">
        <div class="single-cat text-center mb-50">
          <div class="cat-icon">
            <span class="fa fa-users"></span>
          </div>
          <div class="cat-cap">
            <h5>
              <a href="/3s-model"
                >{{site.data.translations.three_s_model[page.lang]}}</a
              >
            </h5>
            <p>
              {{site.data.translations.three_s_model_desc1[page.lang]}}
              <br />(<b>S</b>){{site.data.translations.three_s_model_desc2[page.lang]}}
              <br />(<b>S</b>)
              {{site.data.translations.three_s_model_desc3[page.lang]}}
              <br />(<b>S</b>)
              {{site.data.translations.three_s_model_desc4[page.lang]}}
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6">
        <div class="single-cat text-center mb-50">
          <div class="cat-icon">
            <span class="flaticon-think"></span>
          </div>
          <div class="cat-cap">
            <h5>
              <a href="/new-idea"
                >{{ site.data.translations.got_a_new_idea[page.lang]}}</a
              >
            </h5>
            <p>{{site.data.translations.got_a_new_idea_desc[page.lang]}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Services Area End -->
