<!--? Count Down Start -->
<div
  class="count-down-area pt-25 section-bg"
  data-background="/assets/img/gallery/section_bg02.png"
>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-12 col-md-12">
        <div class="count-down-wrapper">
          <div class="row justify-content-between">
            <div class="col-lg-2 col-md-6 col-sm-6">
              <!-- Counter Up -->
              <div class="single-counter text-center">
                <span class="counter color-green"
                  >{{ site.data.stats.donors }}</span
                >
                <span class="plus">+</span>
                <p class="color-green"><a href="/donors/">Donors</a></p>
              </div>
            </div>
            <div class="col-lg-2 col-md-6 col-sm-6">
              <!-- Counter Up -->
              <div class="single-counter text-center">
                <span class="counter color-green"
                  >{{site.data.stats.colleges}}</span
                >
                <p class="color-green"><a href="/colleges/">Colleges</a></p>
              </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
              <!-- Counter Up -->
              <div class="single-counter text-center">
                <span class="counter color-green"
                  >{{ site.data.stats.students }}</span
                >
                <span class="plus">+</span>
                <p class="color-green"><a href="/dreamers/">Students</a></p>
              </div>
            </div>
            <div class="col-lg-2 col-md-6 col-sm-6">
              <!-- Counter Up -->
              <div class="single-counter text-center">
                <span class="plus">$</span>
                <span class="counter color-green"
                  >{{site.data.stats.fund_raised}}</span
                >
                <p class="color-green"><a href="/donors/">Fund Raised</a></p>
              </div>
            </div>
            <div class="col-lg-2 col-md-6 col-sm-6">
              <!-- Counter Up -->
              <div class="single-counter text-center">
                <span class="counter color-green"
                  >{{site.data.stats.volunteers}}</span
                >
                <span class="plus">+</span>
                <p class="color-green">Volunteer Hours</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Count Down End -->
