<!--? Count Down Start -->
{% assign donations = site.data.donations.year_2021 | concat:
site.data.donations.year_2022 | concat:
site.data.donations.year_2023 | concat:
site.data.donations.year_2024 %}
<div
  class="count-down-area pt-25 section-bg"
  data-background="/assets/img/gallery/section_bg02.png"
>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-12 col-md-12">
        <div class="count-down-wrapper">
          <div class="row justify-content-between">
            <div class="col-lg-2 col-md-6 col-sm-6">
              <!-- Counter Up -->
              <div class="single-counter text-center">
                <span class="counter color-green">{{ donations.size }}</span>
                <span class="plus">+</span>
                <p class="color-green">
                  <a href="{{site.data.links.donors[page.lang].url}}"
                    >{{site.data.links.donors[page.lang].label}}</a
                  >
                </p>
              </div>
            </div>
            <div class="col-lg-2 col-md-6 col-sm-6">
              <!-- Counter Up -->
              <div class="single-counter text-center">
                <span class="counter color-green"
                  >{{site.data.colleges.size}}</span
                >
                <p class="color-green">
                  <a href="{{site.data.links.colleges[page.lang].url}}"
                    >{{site.data.links.colleges[page.lang].label}}</a
                  >
                </p>
              </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
              <!-- Counter Up -->
              <div class="single-counter text-center">
                <span class="counter color-green">57</span>
                <span class="plus">+</span>
                <p class="color-green">
                  <a href="{{site.data.links.students[page.lang].url}}"
                    >{{site.data.links.students[page.lang].label}}</a
                  >
                </p>
              </div>
            </div>
            {% assign running_total = 0 %} {% for d in donations %} {% assign
            running_total = running_total | plus: d.dollar %} {% endfor %}
            <div class="col-lg-2 col-md-6 col-sm-6">
              <!-- Counter Up -->
              <div class="single-counter text-center">
                <span class="plus">$</span>
                <span class="counter color-green">{{running_total}}</span>
                <p class="color-green">
                  <a href="{{site.data.links.fund_raised[page.lang].url}}"
                    >{{site.data.links.fund_raised[page.lang].label}}</a
                  >
                </p>
              </div>
            </div>
            <div class="col-lg-2 col-md-6 col-sm-6">
              <!-- Counter Up -->
              <div class="single-counter text-center">
                <span class="counter color-green"
                  >{{site.data.stats.hours}}</span
                >
                <span class="plus">+</span>
                <p class="color-green">
                  {{site.data.links.hours_served[page.lang].label}}
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Count Down End -->
