.donation {
    height: 100%;
    border: 1px solid #c5bbbd;
    border-radius: 3px;
    padding: 20px;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    .donation-image {
      flex: 0 0 auto;
      width: 80px;
      height: 80px;
      display: flex;
      margin-bottom: 20px;
      text-align: center;
    }
    img {
      width: 100%;
      height: auto;
    }
    .donation-donor {
    }
    .donation-content {
      margin-bottom: 0;
      margin-top: auto;
      color: #5C5A5A;
    }
    .donation-date {
      margin-bottom: 0;
      margin-top: 5px;
      color: #5C5A5A;
      font-size: xx-small;
    }
  }
  