---
layout: default
---

<div class="intro">
  <div class="container">
    <div class="row justify-content-start">
      <div class="col-12 col-md-7 col-lg-6 order-2 order-md-1">
        {{ content }}
      </div>
    </div>

    {% if site.data.donations %}
    <div class="row row-cols-1 row-cols-md-3 g-4">
      {% for donation in site.data.donations %}
      <div class="col">
        <div class="card border-primary">
          <div class="card-header">#{{ donation.sn }}</div>
          <div class="card-body text-primary">
            <h5 class="card-title">{{ donation.donor }}</h5>
            <p class="card-text">
              {{ donation.currency }}{{ donation.amount }}
            </p>
          </div>
          <div class="card-footer">
            <small class="text-muted">on {{ donation.date }}</small>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
    {% endif %}
  </div>
</div>
